{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <p>
    API Tokens will be generated for the following users.
    <br>
    You may also choose an expiration date for each token ('---' indicates that no expiration date will be set). <b>The server runs on UTC 0:00 time, so it may be on a different day.</b>:
  </p>
  <label>
    Set the Expiration Date for All:
    <select id="setAllMonth" onchange="AdminGenerateAPIToken.setAll(this, 'month')">
      <option value="" selected="">---</option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <select id="setAllDay" onchange="AdminGenerateAPIToken.setAll(this, 'day')">
      <option value="" selected="">---</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    <select id="setAllYear" onchange="AdminGenerateAPIToken.setAll(this, 'year')">
      <option value="" selected="">---</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
      <option value="2025">2025</option>
      <option value="2026">2026</option>
      <option value="2027">2027</option>
      <option value="2028">2028</option>
      <option value="2029">2029</option>
      <option value="2030">2030</option>
    </select>
    <button type='button' onclick="AdminGenerateAPIToken.setAllToday()" class="button" style="margin-right: 1em">Today</button>
    <button type='button' onclick="AdminGenerateAPIToken.clearAll()" class="button">Clear</button>
  </label>
  <br>
  <ul>
    {% for tuple in users_without_tokens_and_forms %}
    <li>
      <h2><b>
        <a href="{{ tuple.0.pk }}/" target="_blank">{{ tuple.0.Email }}</a>
      </b></h2>
    </li>
    {{ tuple.1 }}
    <input type="hidden" name="user_to_form" value="{{ tuple.0.pk }}.{{ tuple.1.prefix }}">
    <input type="hidden" name="_selected_action" value="{{ tuple.0.pk }}">
    {% endfor %}
  </ul>
  <p>
    API Tokens will <b>NOT</b> be generated for the following users because they already have API tokens:
  </p>
  <ul>
    {% for tuple in user_token_tuples %}
    <li>
      <h2><b>
        <a href="../apitoken/{{ tuple.1 }}/" target="_blank">{{ tuple.0.Email }}</a>
      </b></h2>
    </li>
    {% endfor %}
  </ul>
  <input type="hidden" name="action" value="user_generate_api_token" />
  <p style="padding-top: 1em; text-align: center">
  <span style="padding-right: 2em">
    <a href="{{ request.get_full_path }}">
      <input type="button" name="Cancel" value="Cancel">
    </a>
  </span>
    <span>
    <input type="submit" name="apply" value="Confirm"/>
  </span>
  </p>
</form>
<script>
  AdminGenerateAPIToken = {
    setAll: function (source, time_type) {
      for (let i = 0; i < "{{ users_without_tokens.count }}"; i++) {
        let select_id = `id_form-${i}-ExpirationDate_${time_type}`;
        let select = document.getElementById(select_id);
        select.value = source.value;
      }
    },
    setAllToday: function () {
      let yearSelect = document.getElementById('setAllYear');
      let monthSelect = document.getElementById('setAllMonth');
      let daySelect = document.getElementById('setAllDay');
      let today = new Date();
      yearSelect.value = today.getUTCFullYear();
      monthSelect.value = today.getUTCMonth() + 1;
      daySelect.value = today.getUTCDate();
      yearSelect.dispatchEvent(new Event('change'));
      monthSelect.dispatchEvent(new Event('change'));
      daySelect.dispatchEvent(new Event('change'));
    },
    clearAll: function () {
      let yearSelect = document.getElementById('setAllYear');
      let monthSelect = document.getElementById('setAllMonth');
      let daySelect = document.getElementById('setAllDay');
      yearSelect.value = '';
      monthSelect.value = '';
      daySelect.value = '';
      yearSelect.dispatchEvent(new Event('change'));
      monthSelect.dispatchEvent(new Event('change'));
      daySelect.dispatchEvent(new Event('change'));
    }
  }
</script>
{% endblock %}
